html{
    font-size: 62.5%;




}


html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body{
    
    background-image: url("https://static.wixstatic.com/media/11062b_643f25fdc9c54897816299dddd000e96~mv2.png/v1/fill/w_280,h_231,fp_0.50_0.50,lg_1,q_85,enc_auto/Yellow%20Gradient%20Circle.png");
    background-repeat: no-repeat;
    background-size: 170rem;
    background-position: center top;
    justify-content: center;
    

    

}

a{
    text-decoration: none;
    color: white;
}



header {
    position: sticky;
    top: 0;
    z-index: 1000; 
    background-color: transparent; 
    width: 100%;
}

.top-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 11rem;
    
}


nav{
    display: flex;
}

ul{
   
    gap: 3rem;
    padding: 1.2rem 6rem 1.2rem 6rem;
    
}


.header1{
    display: flex;
    font-size: 2.5rem;
    background-color: black;
    color: white;
    border-radius: 3.5rem;
    align-items: center;
    

}

.Quantralogic-img{
    width: 16rem;
    height: auto;
    


}

.button1{
    padding: 1rem 2rem;
    border: none;
    
    
}

.burger-img{
    display: none;
}





.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;   
    grid-template-rows: auto auto;     
    column-gap: 8rem;                 
    row-gap: 8rem;                     
    
    margin: 6rem auto 0 auto;
    padding: 0 11rem;                
}


h1 {
    grid-column-start: 1;
    grid-column-end: 3;
    font-size: 10rem;
    font-weight: 700;
 
    
}

.quote1 {
    grid-column: 3;
    grid-row: 1;
    font-size: 3rem;
    line-height: 1.35;
    max-width: 46rem;
    align-self: start;                 
}

.learnMore-btn {
    grid-column: 1;
    grid-row: 2;
    
    border: 1px solid black;
    border-radius: 2.8rem;
    background-color: transparent;
    padding: 1.2rem 6rem;
    font-size: 2rem;
    cursor: pointer;
    
    justify-self: start;              
    align-self: center;               
}

.dashed-arrow {
    transform: rotate(90deg);
    grid-column: 3;
    grid-row: 2;
    width: 6rem;
    height: auto;
    justify-self: start;                 
    align-self: center;                
}








.contact {
  max-width: 700px;
  margin: 50px auto;
  padding: 40px;
  background: #f7f6ee;
  border-radius: 20px;
}

.inputs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px 35px;
}


.top-contact{
    font-size: 1.7rem;
    margin-bottom: 3rem;
    
}
.input-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input-box label {
  font-size: 18px;
  background-color: transparent;
}

 input,
 textarea {
  width: 100%;
  padding: 16px 20px;
  border: 2px solid #999;
  border-radius: 30px;
  font-size: 16px;
  outline: none;
  background-color: rgb(253, 253, 188);
}



textarea {
  border-radius: 20px;

 
}


.long-input {
  grid-column: 1 / 3;
}


.send-btn {
  width: 220px;
  padding: 16px;
  border: none;
  border-radius: 40px;
  background: black;
  color: white;
  font-size: 22px;

}


/* 4 fhoto section */

.grid-fhotos{
    width: 61rem;
    border-radius: 3rem;

}

.container-4{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    max-width: 150rem;
    gap: 3rem;
    padding: 0 4rem;
    margin: 0 auto;
    
    
   

    

}


.card{
    background-color: rgb(221, 229, 246);
    border-radius: 3rem;
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
    max-width: 70rem;
    
    
   
}


.card_number{
    font-size: 2.7rem;
}

.paragraph3{
    font-size: 2rem;
    max-width: 51rem;
}






.head3{
    font-size: 4rem;
    font-weight: 700;
}





.container4{
    background-color: #cbe0fe;
    width: 100%;
    margin-top: 4rem;

}
.child-container {

    max-width: 1100px;
    margin: 0 auto;

}


.main-title {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 6rem;
    padding-top: 4rem;
   
    
    
}


.step-row {
    display: flex;
    border-top: 1px solid #7a94b8; 
    padding: 35px 0;
}


.step-row {
    border-bottom: 1px solid #7a94b8;
}


.step-number {
    width: 20%;
    font-size: 0.75rem;
    text-transform: uppercase;
    font-weight: 600;
    color: #333333;
    letter-spacing: 1px;
    padding-top: 6px; 
}


.step-content {
    width: 80%;
}

.step-title {
    font-size: 1.75rem;
    font-weight: 700;
    margin-bottom: 12px;
    
}

.step-description {
    font-size: 1rem;
    line-height: 1.5;
    color: #111111;
    max-width: 600px; 
}




.head2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.head-2{
    font-size: 6rem;
}


.quote2{
    font-size: 2.5rem;
    max-width: 78rem;
    line-height: 1.6;
    text-align: center;
    font-weight: 100;
  
}




/* კომპანიები */




.testimonial{
    background-color: #e8e6ab;
    padding: 120px 20px;
    text-align: center;
}

.testimonial .container{
    max-width: 950px;
    margin: 0 auto;
}

.icon{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon img{
    width: 5rem;
    margin-bottom: 2rem;
}

.small-title{
    font-size: 1.4rem;
    margin-bottom: 6rem;
}

 h2{
    font-size: 4rem;
    line-height: 1.1;
    font-weight: 600;
    max-width: 90rem;
    margin: 0 auto;
}

.author{
    margin-top: 5rem;
    font-size: 1.4rem;
    line-height: 1.7;
}

.testimonial h3{
    font-size: 3rem;
    margin-top: 13rem;
    margin-bottom: 5rem;
    font-weight: 600;
}

.companies{
    background-color: #f3f1df;
    border-radius: 2rem;
    padding: 4rem 5rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2.5rem;
}

.companies-logo{
    max-width: 12rem;
    width: 100%;
    height: auto;
   
}










@media screen and (max-width: 1690px) {
    .top-head, 
    .grid-container, 
    .container1 {
        padding-left: 6rem !important;
        padding-right: 6rem !important;
    }


    h1 {
        font-size: 8rem;
        letter-spacing: -0.2rem;
        max-width: 70rem;
    }


    .quote1 {
        font-size: 2.4rem;
        max-width: 35rem; 
    }

    .container-4{
        max-width: 130rem;
        
    }

    .card{
        font-size: 3rem;
        max-width: 53rem;


    }

    .card_number{
        font-size: 2rem;

        
    }

    .head3{
        font-size: 2.5rem;

    }
    .grid-fhotos{
        width: 40rem;

    }


    .paragraph3{
        font-size: 1.5rem;
        max-width: 38rem;
    }


}

@media screen and (max-width: 1330px) {

    .top-head, 
    .grid-container, 
    .container1 {
        padding-left: 4rem !important;
        padding-right: 4rem !important;
    }

    h1 {
        font-size: 6.5rem;
        max-width: 56rem;
    }

    .quote1 {
        font-size: 1.7rem;
        max-width: 25rem;
    }



    .container4 {
        padding: 6rem 4rem; 
    }

    .child-container {
        max-width: 800px; 
        margin: 0 auto;
    }

    .main-title {
        font-size: 4rem;
        text-align: center; 
        margin-bottom: 5rem;
    }

    .step-row {
        flex-direction: column; 
        align-items: flex-start; 
        gap: 1.5rem; 
        padding: 3rem ;
    }

    .step-number {
        width: 100%;
        font-size: 1.4rem; 
        
    }

    .step-content {
        width: 100%; 
    }

    .step-title {
        font-size: 2.4rem; 
        margin-bottom: 1rem;
    }

    .step-description {
        font-size: 1.6rem;
        max-width: 100%; 
        line-height: 1.6;
    }



  
}


@media screen and (min-width: 981px) {
    .quote-resp {
        display: none; 
    }

.mobile-txt {
    display: none;
}
}



@media screen and (max-width: 980px) {

    .nav1 {
        display: none ;
    }

    .quote1{
        display: none;
        
    }


    .quote-resp{
        font-size: 2rem;
        text-align: center;
    }



    .burger-img {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .burger-menu {
        width: 3.5rem;
        height: auto;
    }




    .grid-container, 
    .container1 {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, auto) !important;
        row-gap: 4rem;
        padding-left: 4rem !important;
        padding-right: 4rem !important;
    }

    h1 {
        grid-column: 1 !important;
        grid-row: 1 !important;
        font-size: 5.5rem;
        max-width: 50rem;
        margin: 0 auto;
        
    }

    .quote1 {
        grid-column: 1 !important;
        grid-row: 2 !important;
        font-size: 2.2rem;
        max-width: 40rem !important; 
    }

    .learnMore-btn {
        grid-column: 1 !important;
        grid-row: 3 !important;
        justify-self: center;
        padding: 1.2rem 5rem;
    }

    .dashed-arrow {
        grid-column: 1 !important;
        grid-row: 4 !important;
        justify-self: center; 
        margin-top: 1rem;
    }

    .container-4 {
        grid-template-columns: 1fr !important; 
        max-width: 65rem; 
        gap: 3rem;
        margin: 4rem auto;
        justify-content: center;
    }

        .card{
        font-size: 3rem;
        max-width: 53rem;
        margin: 0 auto;
        padding: 2rem;

    }

    .card_number{
        font-size: 2rem;

        
    }

    .head3{
        font-size: 2.5rem;
        max-width: 30rem;

    }
    .grid-fhotos{
        width: 35rem;

    }


    .paragraph3{
        font-size: 1.5rem;
        max-width: 28rem;
       
    }

    .desktop-txt {
        display: none;
    }

    .mobile-text {
        
        max-width: 30rem;
    }


     .testimonial{
        padding: 90px 20px;
    }

    .testimonial h2{
        font-size: 2rem;
    }

    .testimonial h3{
        font-size: 2.3rem;
        margin-top: 90px;
    }

    .companies{
        flex-wrap: wrap;
        justify-content: center;
    }

    .companies-logo{
        max-width: 100px;
    }



}


/* Contact  */


@media (max-width: 785px) {
    .contact-section {
        padding: 6rem 4rem; 
    }

    .contact {
        grid-template-columns: 1fr; 
        gap: 4rem;
    }

    .top-contact {
        font-size: 3.5rem; 
        text-align: left;
    }

    .inputs {
        grid-template-columns: 1fr; 
        gap: 2.5rem;
    }


    .long-input, 
    .send-btn {
        grid-column: 1 ;
        width: 100%; 
    }

    .send-btn {
        padding: 1.5rem ;   
        text-align: center;
    }

    .head-2{
        font-size: 4rem;
        width: 40rem;
        text-align: center;

    }

    .quote2{
        font-size: 2rem;
        max-width: 43rem;

    }



     .companies{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 70px;

        padding: 60px 20px;
        border-radius: 30px;
    }

    .companies-logo{
        width: 140px;
        height: auto;
    }

    .testimonial h3{
        font-size: 2.3rem;
        line-height: 1.2;
        margin-bottom: 40px;
    }
}




@media (max-width: 450px) {
    .contact-section {
        padding: 4rem 2rem ; 
    }

    .top-contact {
        font-size: 2.5rem;
    }

    .head-2{
        font-size: 3rem;
        width: 37rem;
       
    }

    .quote2{
        font-size:1.5rem ;
        max-width: 32rem;
    }


    .container-4 {
        max-width: 55rem; 
    
   
      
    }

    .card{
        font-size: 3rem;
        max-width: 38rem;
        margin: 0 auto;

    }

    .card_number{
        font-size: 2rem;

        
    }

    .head3{
        font-size: 2.5rem;
        max-width: 30rem;

    }
    .grid-fhotos{
        width: 26rem;

    }


    .paragraph3{
        font-size: 1.5rem;
        max-width: 28rem;
       
    }

    .desktop-txt {
        display: none;
    }

    .mobile-text {
        
        max-width: 30rem;
    }


    .button1{
        padding: 1rem 2rem;
        border: none;
        width: 12rem;
        font-size: 1.5rem;
        }



    .Quantralogic-img {
        width: 11rem;
        height: auto;
}

.child-container, .step-row, .step-number, .step-content {
        text-align: center ;
        align-items: center;
    }

     .step-description{
        font-size: 1.5rem;
        max-width: 31rem;
    }
}


@media screen and (max-width: 550px) {
    .top-head, 
    .grid-container, 
    .container1 {
        padding-left: 2rem;
        padding-right: 2rem;
    }


    h1 {
        font-size: 3rem;
        text-align: center;
        max-width: 28rem;
    }

 
    .quote-resp{
        font-size: 1.2rem;
        text-align: center;
    }

  
    .grid-container, 
    .container1 {
        row-gap: 3rem;
        margin-top: 4rem;
    }

    .learnMore-btn {
        font-size: 1.5rem;
        padding: 1rem 4rem;
    }

    .dashed-arrow {
        width: 5rem; 
    }


    .step-description{
        font-size: 1.6rem;
        max-width: 33rem;
    }
}


